body {
      color: #2c3e50;
      position: relative;
}
.navbar-default {
    background-color: #2c3e50;
  }
  a {
    color: #ffffff;
  }
  .jumbotron {
    background-color: #eee;
    padding-top: 100px;
  }
  #about {
    color: black;
    background-color: #eee;;
  }
  section.success {
    padding-top: 0px;
  }
  #contact {
    padding-top: 75px;
  }
  /* Set the height of your slider to the height of your images */
		
